<html>
<head>
<title>STAT 410 - HW4</title>
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<style>
#content{
  padding: 20px;
  width: 90%;
  margin: auto;
  border: 1px solid black;
  text-align: center;
}
p{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
h1,h2,h3,h4,h5{
text-align: left;
}
</style>
</head>
<body>
<div id="content">
<!--begin.rcode echo=FALSE, message=FALSE
require(ggplot2)
require(reshape2)
end.rcode-->
<h2>Homework 2 - STAT 453</h2>
<h5><i>By: Jordan Poles</i></h5>

<h3>Question 10.4</h3>

<p>Based on the stratified data, what is the Odds Ratio, associated with biomass fuel
exposure, for the never smokers stratum? What is the Odds Ratio for the past or present
smokers stratum? Using the Mantel-Haenszel method, estimate the Odds Ratio associated
with biomass fuel exposure after adjusting for smoking. Provide your assessment of the
role of smoking as a confounding variable.</p>

<b><i>Stratified Odds Ratios</i></b>

Below we use the acroynm NS to represent non-smokers. We use PS to represent past/present smokers.
\[
  OR = [P(D|E)/P(!D|E)]/[P(D|!E)/P(!D|!E)] = AD/BC
  \\
  {OR}_{NS}= (33*411)/(17*186)= 4.289
  \\
  {OR}_{PS} = (17*113)/(4*52) = 9.236
  {OR}_{Pooled} = ((17+33)*(411+113))/((4+17)*(52+186)) = 5.242
\]

<b><i>Mantel-Haenszel Correction</i></b>

\[
  n_{NS} = 33 + 17 + 186 + 411 = 647;
  \;
  n_{PS} = 17 + 4 + 52 + 113 = 186
  \\
  {OR}_{MHC} = \sum{\frac{a_i d_i}{n_i}}/\sum{\frac{b_i c_i}{n_i}}
  = [\frac{33*411}{647} + \frac{17*113}{186}]/[\frac{17*186}{647} + \frac{4*52}{186}]
  = 5.210
\]

<p>Using the Breslow-Day method, now examine the evidence for multiplicative
interaction between smoking and indoor pollution. Given all your computations, which
Odds Ratio would you report for the data of Table 10.10: (1) the pooled Odds Ratio, (2)
the Odds Ratio, adjusting for smoking, or (3) the stratum-specific Odds Ratios?</p>

<b><i>Breslow-Day Test</i></b>

\[
  T = \sum{(a_i - A_i)(\frac{1}{A_i} + \frac{1}{B_i} + \frac{1}{C_i} + \frac{1}{D_i})}
  \\
  \frac{AD}{BC} = {OR}_{MHC} = 5.210 = \frac{A(n_{!E}-n_{D}+A)}{(n_E-A)(n_D-A)}
  \\
  5.210 = \frac{A_0((186+411)-(33+186)+A_0)}{((33+17)-A_0)((33+186)-A_0)}
  ;\;A_0 = 34.949 \approx 35
  \\
  5.210 = \frac{A_1((52+113)-(17+52)+A_1)}{((17+4)-A_1)((17+52)-A_1)}
  ;\;A_1 = 15.053 \approx 15
  \\
  T \sim X^2_1 = \sum{(a_i - A_i)^2(\frac{1}{A_i} + \frac{1}{B_i} + \frac{1}{C_i} + \frac{1}{D_i})}
  \\
  = [(33-35)^2 (\frac{1}{35} + \frac{1}{((33+17)-35)} + \frac{1}{(33+186)-35} + \frac{1}{(186+411)-(33+186)+35})] +
  \\
  [(17-15)^2 (\frac{1}{15} + \frac{1}{((17+4)-15)} + \frac{1}{(17+52)-15} + \frac{1}{(52+113)-(17+52)+15})]
  \\
  = (23503/56994) + (5212/4995) = 1.456
\]

<!--begin.rcode
  #Calculate p-value
  1-pchisq(1.456, 2-1)
end.rcode-->

<p>Given the results of the above test (p-value = .2276), we fail to reject the null hypothesis of the Breslow-Day test, which states that the strata share the same underlying Odds Ratio. Notably, our pooled Odds Ratio (5.242) closely approximates the adjusted Odds Ratio (5.210) calculated using the Mantel-Haenszel Correction. I would report these two values, as they confer valuable information regarding the underlying similarity between the strata.</p>

<h3>Question 12.1</h3>

In this question we have three mutually exclusive categories that we wish to represent using binary variables.
We use two binary variables, one for M (\(X_1=1; X_2=0\)) and another for H (\(X_1=0; X_2=1\)). When neither of these variables equals one, the observation is in the L category; they must not both be equal to one.

\[

\]

<h3>Question 13.1</h3>

<h3>Question 13.2</h3>
For question with data, use R to perform logit regression, then write out results/conclusions.


</div>
</body>
</html>
